<div class="col-12" ng-controller="CreateCtrl">
  <h2>Lägg till ny lön på kartan</h2>
  <form ng-show="loggedIn">
    <div class="form-group">
      <label for="title">Yrkestitel</label>
      <input required id="title" name="title" ng-model="create.title" type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label for="wage">Lön</label>
      <input required id="wage" name="wage" ng-model="create.wage" type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label for="address">Adress</label>
      <input required id="address" name="address" ng-model="create.address" type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label for="tags">Kompetenstaggar (separera med ,)</label>
      <input id="tags" name="tags" ng-model="create.tags" type="text" class="form-control" />
    </div>
    <div class="form-group">
      <button ng-click="create.submit()" id="create-btn" class="btn">Spara</button>
    </div>
  </form>
  <div ng-show="!loggedIn">Du måste logga in först.</div>
</div>
