<div class="col-12" ng-controller="CreateCtrl">
  <h2>Lägg till ny lön på kartan</h2>
  <form ng-show="loggedIn">
    <div class="form-group">
      <label for="title">Titel</label>
      <input id="title" name="title" ng-model="create.title" type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label for="wage">Lön</label>
      <input id="wage" name="wage" ng-model="create.wage" type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label for="address">Adress</label>
      <input id="address" name="address" ng-model="create.address" type="text" class="form-control" />
    </div>
    <div class="form-group">
      <button ng-click="create.submit()" id="create-btn" class="btn">Spara</button>
    </div>
  </form>
  <div ng-show="!loggedIn">Du måste logga in först.</div>
</div>
