<div class="col-12" ng-controller="ProfileCtrl">
  <h2>Min profil</h2>
  <ul>
    <li ng-repeat="salary in salaries">
      <a href="/#/salary/{{ salary.id }}">{{ salary.title }}</a>, {{ salary.wage }}
      <ul><li ng-repeat="tag in salary.tags"><a href="/#/tags/{{ tag.id }}">{{ tag.tag }}</a></li></ul>
      <div class="edit-delete"><a href="/#/edit/{{ salary.id }}">Redigera</a>, <a href="/#/delete/{{ salary.id }}">Radera</a></div>
    </li>
  </ul>

  <div ng-show="error" class="col-sm-12 alert alert-danger">{{ message }}</div>
</div>
